[submodule "external/Frontier.Engine"]
	path = external/Frontier.Engine
	url = https://github.com/Tustvold/Frontier.Engine.git
[submodule "external/ChibiOS"]
	path = external/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "external/cusf-messaging"]
	path = external/cusf-messaging
	url = https://github.com/cuspaceflight/cusf-messaging.git
