# Exclude CMake Files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
/*Build*/

# temp files
*.log
*.bak
*.bck
*.kicad_pcb-bak
*-cache.lib
Avionics.Shared/build-fw/
*.idea/
shared/build-fw/

.idea/workspace.xml
.idea/tasks.xml

/*build*/
/resources/
